* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(47,194,91,1) 0%, rgba(115,195,210,1) 100%);
}

html {
  overflow-x: hidden;
}